@model Ploeh.Samples.Booking.WebModel.BookingViewModel
@{
    ViewBag.Title = "Make a reservation";
}
<h2>
    Make</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Booking</legend>
        <div class="editor-label">
            @this.Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @this.Model.Date.ToShortDateString()
        </div>
        <div class="editor-label">
            @this.Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @this.Html.TextBoxFor(model => model.Name)
            @this.Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @this.Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @this.Html.TextBoxFor(model => model.Email)
            @this.Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @this.Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @this.Html.DropDownListFor(model => model.Quantity, Enumerable.Range(1, this.Model.RemainingCapacity).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }))
            @this.Html.ValidationMessageFor(model => model.Quantity)
        </div>
        <p>
            @this.Html.HiddenFor(model => model.Date)
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Home", "", "Home")
</div>
