@model Ploeh.Samples.Booking.WebUI.Models.BookingViewModel
@{
    ViewBag.Title = "Booking receipt";
}
<h2>
    Thank your for your reservation!</h2>
<fieldset>
    <legend>We have recorded the following about your request:</legend>
    <p />
    <div class="display-label">
        Date</div>
    <div class="display-field">
        @this.Model.Date.ToShortDateString()</div>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @this.Model.Name</div>
    <div class="display-label">
        Email
    </div>
    <div class="display-field">
        @this.Model.Email
    </div>
    <div class="display-label">
        Quantity</div>
    <div class="display-field">
        @this.Model.Quantity</div>
</fieldset>
<p>
    Please note that this page only verifies that we have received your request. It
    does not guarantee that we can fulfill your reservation, but in either case we will
    send you an email as soon as we know.
</p>
<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>
